body {
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 0;
  line-height: 20px;
}

body a {
  text-decoration: none;
  color: #9FA2AE;
}

body a:hover {
  text-decoration: none;
  color: #ffffff;
}

.col-12 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  top: 0;
  left: 0;
  height: 50px;
  background-color: #3B3F4F;
}

.header-top__tagline {
  font-size: 100%;
  text-transform: uppercase;
  color: #9FA2AE;
}

.header-top__numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #9FA2AE;
  font-size: 20px;
  font-weight: bold;
  padding-left: 20px;
}

.header-top__numbers .number {
  margin-left: 20px;
}

.header-phone {
  margin-top: 2px;
  color: #FBC01E;
}

.nav-menu {
  font-size: 15px;
  font-weight: 600;
  color: #333333;
  margin-top: 20px;
  border-top: 1px solid #e0e0e0;
  background: #f3f3f3;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 1px;
}

.nav-menu .nav-item {
  padding: 10px;
}

.navbar-collapse ul li > ul {
  display: none;
  position: absolute;
}

.navbar-collapse ul li > ul:hover {
  display: block;
  position: absolute;
  top: 150px;
  left: 0;
}

.header-fixed {
  position: inherited;
  top: 0;
  left: 0;
  -webkit-animation-name: show_header;
  animation-name: show_header;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  background-color: #333333;
}

@-webkit-keyframes show_header {
  0% {
    opacity: 0;
    top: -70px;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes show_header {
  0% {
    opacity: 0;
    top: -70px;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}

.btn-search {
  background: #fbc32b;
  border-radius: 5px;
  font-weight: 500;
}

.btn-search:hover {
  background: #353948;
  color: #fff;
}

.navbar {
  padding: 0;
}

.navbar-nav li {
  -webkit-transition: background-color 200ms ease-out;
  transition: background-color 200ms ease-out;
  position: relative;
  border-right: 1px solid #e0e0e0;
  margin-top: -1px;
  border-top: 1px solid transparent;
  border-radius: 0;
}

.navbar-nav > .active {
  background: #FBC01E !important;
  border-color: #FBC01E !important;
}

.navbar-nav li:hover {
  -webkit-transition: background-color 200ms ease-out 0s;
  transition: background-color 200ms ease-out 0s;
  background-color: #e6e6e6;
}

.header-bottom {
  position: relative;
  padding: 35px 0 0;
}

.header-bottom__tagline {
  position: absolute;
  text-align: right;
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
  max-width: 100%;
  left: 800px;
  top: 28px;
}

.header-bottom__tagline span {
  font-size: 25px;
}

.header-bottom__tagline:after {
  background: url("../img/clock.png") 0 0 no-repeat;
  content: "";
  display: block;
  position: absolute;
  width: 86px;
  height: 91px;
  top: -15px;
  left: -65px;
}

.logo {
  text-transform: uppercase;
  font-size: 27px;
  font-weight: bold;
  line-height: 1.2;
  text-decoration: none;
  color: #000;
}

.logo-link {
  color: #000;
}

.logo-link span {
  color: #FBC01E;
}

.logo-link:hover {
  color: #000;
}

.Entrepreneur {
  font-size: 11px;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherti;
  padding-left: 2px;
  text-transform: uppercase;
}

.button-wrapper {
  position: absolute;
  top: 49%;
  right: 245px;
}

.button-wrapper .btn {
  background: #fbc32b;
  font-size: 14px;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
  line-height: 14px;
  padding: 15px 30px;
  border-radius: 5px;
  border: none;
  text-align: center;
  width: auto;
}

.button-wrapper .btn:hover {
  background: #353948;
  color: #fff;
}